In [ ]:
#    Roll_no, Name, Hindi, Eng, Sci, Math, Pun 

lst = [[1, "Ashish", 78, 88, 79, 85, 85],
       [2, "Manish", 58, 41, 49, 85, 85],
       [3, "Hitesh", 78, 52, 69, 85, 85],
       [4, "Bishal", 88, 34, 77, 85, 85],
       [5, "Vishal", 98, 54, 99, 85, 85],
       [6, "Manoj",  74, 56, 76, 85, 85],
       [7, "Bharat", 65, 65, 65, 85, 85]]

In [ ]:
roll_no = int(input("Enter the roll no: "))

print("*********************")
for i in lst:
  if ( i[0] == roll_no ):
    print("Roll No: ", i[0])
    print("Name: ", i[1])
    print("Eng: ", i[2])
    print("Hin: ", i[3])
    print("Sci: ", i[4])
    print("Mat: ", i[5])
    print("Pun: ", i[6])
    print("Total Marks Obtained", i[2] + i[3] + i[4] + i[5] +  i[6], "out of 500")
    print("Average: ", (i[2] + i[3] + i[4] + i[5] +  i[6])/5, "%")

    avg = int(i[2] + i[3] + i[4] + i[5] +  i[6])/5

    if (avg > 90 and avg < 100):
      print("Grade: A+")

    elif (avg > 80 and avg <= 89):
      print("Grade: A")

    elif (avg > 70 and avg <= 79):
      print("Grade: B+")

    elif (avg > 60 and avg <= 69):
      print("Grade: B")

    elif (avg > 50 and avg <= 59):
      print("Grade: C")
    
    else:
      print("Grade: F")

print("*********************")

Enter the roll no: 7
*********************
Roll No:  7
Name:  Bharat
Eng:  65
Hin:  65
Sci:  65
Mat:  85
Pun:  85
Total Marks Obtained 365 out of 500
Average:  73.0 %
Grade: B+
*********************

In [ ]:
roll_no

5

In [ ]:
for i in lst:
  if ( i[0] == roll_no ):
    print("Roll No: ", i[0])
    print("Eng: ", i[1])
    print("Hin: ", i[2])
    print("Sci: ", i[3])
    print("Math: ", i[4])
    print("Pun: ", i[5])

Roll No:  5
Eng:  Vishal
Hin:  98
Sci:  54
Math:  99
Pun:  85

In [ ]:
score = []


for i in lst:

  print("Roll No: ", i[0])
  print("Name: ", i[1])
  print("Eng: ", i[2])
  print("Hin: ", i[3])
  print("Sci: ", i[4])
  print("Mat: ", i[5])
  print("Pun: ", i[6])
  print("Total Marks Obtained", i[2] + i[3] + i[4] + i[5] +  i[6], "out of 500")
  print("Average: ", (i[2] + i[3] + i[4] + i[5] +  i[6])/5, "%")

  avg = int(i[2] + i[3] + i[4] + i[5] +  i[6])/5

  if (avg > 90 and avg < 100):
    print("Grade: A+")

  elif (avg > 80 and avg <= 89):
    print("Grade: A")

  elif (avg > 70 and avg <= 79):
    print("Grade: B+")

  elif (avg > 60 and avg <= 69):
    print("Grade: B")

  elif (avg > 50 and avg <= 59):
    print("Grade: C")
    
  else:
    print("Grade: F")

  score.append(avg)
  print("***********************************\n\n")

Roll No:  1
Name:  Ashish
Eng:  78
Hin:  88
Sci:  79
Mat:  85
Pun:  85
Total Marks Obtained 415 out of 500
Average:  83.0 %
Grade: A
***********************************


Roll No:  2
Name:  Manish
Eng:  58
Hin:  41
Sci:  49
Mat:  85
Pun:  85
Total Marks Obtained 318 out of 500
Average:  63.6 %
Grade: B
***********************************


Roll No:  3
Name:  Hitesh
Eng:  78
Hin:  52
Sci:  69
Mat:  85
Pun:  85
Total Marks Obtained 369 out of 500
Average:  73.8 %
Grade: B+
***********************************


Roll No:  4
Name:  Bishal
Eng:  88
Hin:  34
Sci:  77
Mat:  85
Pun:  85
Total Marks Obtained 369 out of 500
Average:  73.8 %
Grade: B+
***********************************


Roll No:  5
Name:  Vishal
Eng:  98
Hin:  54
Sci:  99
Mat:  85
Pun:  85
Total Marks Obtained 421 out of 500
Average:  84.2 %
Grade: A
***********************************


Roll No:  6
Name:  Manoj
Eng:  74
Hin:  56
Sci:  76
Mat:  85
Pun:  85
Total Marks Obtained 376 out of 500
Average:  75.2 %
Grade: B+
***********************************


Roll No:  7
Name:  Bharat
Eng:  65
Hin:  65
Sci:  65
Mat:  85
Pun:  85
Total Marks Obtained 365 out of 500
Average:  73.0 %
Grade: B+
***********************************

In [ ]:
score

[83.0, 63.6, 73.8, 73.8, 84.2, 75.2, 73.0]

In [ ]:
lst[4][1]

'Vishal'

In [ ]:
lst[5][1]

'Manoj'

In [ ]:
lst[6][1]

'Bharat'